extends notification

block content
  h4 Hi #{inviteeName},
  p
    | You are invited by #{inviterName} to join board <span>#{boardTitle}</span>.
    | Click <a href="#{boardUrl}">#{boardUrl}</a> to join.
  p Regards,
  p Cantas

